section.configurator {
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 3rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	&:focus {
	  outline: none;
	}
	img {
		display: none;
		&[src] {
			display: block;
		}
	}
	.fancy-header {
		width: 100%;
		position: relative;
		text-align: center;
		margin-top: 3rem;
		margin-bottom: 3rem;
		h2 {
			width: auto;
			display: inline-block;
			padding: 0 3.5rem;
			background-color: $white;
			letter-spacing: 1px;
			text-align: center;
			z-index: 1001;
			&:before {
				z-index: -1;
				content: '';
				position: absolute;
				width: 100%;
				height: 4px;
				background-color: $cyan;
				top: 54%;
				transform: translateY(-50%);
				left: 0;
			}
		}	
	}
	.preview {
		width: 460px;
		// border: 1px solid $black;
		font-size: 1.2rem;
		padding: 0 3rem 3rem 3rem;
		position: relative;
		.phase {
			position: relative;
			display: block;
			// flex-direction: column;
			// align-items: center;
			// justify-content: center;
			color: $grey;
			// margin-top: 2rem;
			opacity: 0.5;
			width: 65%;
			text-align: center;
			margin: 0 auto;
			.instructions {
				margin-top: 3rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				img {
					width: 64px;
					margin: 1rem;
				}
				strong {
					text-transform: uppercase;
					font-size: 1rem;
				}
				p {
					text-transform: uppercase;
					font-size: 1rem;
				}
				&.js-hidden {
					display: none;
				}
			}
			a {
				text-decoration: none;
			}
			label {
				opacity: 0;
				top: 50%;
				left: 50%;
				position: absolute;
				transform: translate(-50%,-50%);
				border: 1px solid $grey;
				padding: 0.25rem;
				background-color: rgba(255,255,255, 0.75);
				font-size: 0.75rem;
				text-transform: uppercase;
				z-index: 5000;
				transition: all 0.5s;
				cursor: pointer;
				&.js-active {
					opacity: 1;
				}
			}
			&.phase-1 {
				.instructions {
					// margin-top: 3rem;
				}
				label {
					top: 65%;
				}
			}
			&.phase-2 {
				.instructions {
					margin-bottom: 3rem;
				}
				label {
					top: 45%;
				}
			}
			&.js-hidden {
				display: none;
			}
			&.js-active {
				opacity: 1;
				// margin-top: 0;
				img {
					// cursor: pointer;
				}
			}
			.piece {
				width: 75%;
			}
			img {
				display: inline-block;
			}
		}
		.earring-clone {
			pointer-events: none;
			position: absolute;
			// transform: translateX(-15%);
			margin-left: -67px;
			padding: 0 3rem 3rem 3rem;
			width: 460px;
			top: 0;
			left: 0;
			display: none;
			&.js-active {
				display: block;
			}
			.phase {
				&.phase-1 {
					opacity: 0;
				}
				.piece {
					transform: none !important;
				}
			}
		}
		.summary {
			margin-top: 1rem;
			padding: 1rem;
			strong {
				font-weight: 700;
				text-align: center;
				display: block;
				margin-bottom: 1rem;
				font-size: 1rem;
			}
			ul {
				li {
					font-size: 1rem;
					text-align: center;
					margin-bottom: 0.5rem;
				}
			}
		}
		.buttons {
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.reset {
				width: 25%;
				border-radius: 0;
				border: 1px solid $grey;
				background-color: $white;
				color: $grey;
				&:hover {
					background-color: $grey;
					color: $white;
				}
			}
			.add-items {
				width: 70%;
				border-radius: 0;
			}
			.liveview {
				display: none;
			}
			&.js-active {
				flex-wrap: wrap;
				.reset {
					order: 2;
					width: 25%;
					margin-bottom: 0.5rem;
					padding: 0.5rem;
				}
				.add-items {
					order: 1;
					width: 100%;
					margin-bottom: 0.5rem;
					padding: 0.5rem;
				}
				.liveview {
					order: 3;
					display: inline-block;
					width: calc(75% - 0.5rem);
					margin-bottom: 0.5rem;
					border-radius: 0;
					border: 1px solid $grey;
					background-color: $white;
					color: $grey;
					&:hover {
						background-color: $grey;
						color: $white;
					}
				}
			}
		}
	}
	.selections {
		width: calc(100% - 470px);
		font-size: 1rem;
		.tops, .attachments {
			.header {
				width: 100%;
				padding: 1rem;
				text-align: center;
				background-color: $light-grey;
				color: $white;
				text-transform: uppercase;
				font-size: 1.2rem;
				font-family: $playfair;
				margin-bottom: 1rem;
				position: relative;
				cursor: pointer;
				transition: all 0.5s;
				&:after {
					content: '';
					background: url('../images/triangle.svg') no-repeat;
					background-size: cover;
					width: 12px;
					height: 12px;
					position: absolute;
					right: 1rem;
					top: 50%;
					transform: translateY(-50%) rotate(180deg);
				}
				&.js-active {
					background-color: $grey;
					&:after {
						transform: translateY(-50%) rotate(0deg);
					}
				}
			}
			.thumbnails {
				display: none;
				flex-direction: row;
				flex-wrap: wrap;
				// justify-content: space-between;
				&.js-active {
					display: flex;
				}
				&:after {
				  content: "";
				  flex: auto;
				}
				.thumbnail {
					width: 18%;
					margin: 1%;
					border: 3px solid $light-grey;
					cursor: pointer;
					position: relative;
					img {
						width: 100%;
						height: auto;
					}
					&:hover {
						border: 3px solid $grey;
					}
					&.js-active {
						border: 3px solid $cyan;
					}
					&.js-disabled {
						display: none;
						pointer-events: none;
						// &:after {
						// 	content: '';
						// 	position: absolute;
						// 	width: 100%;
						// 	height: 100%;
						// 	opacity: 0.5;
						// 	top: 0;
						// 	left: 0;
						// 	background: repeating-linear-gradient(
						// 	    -45deg,
						// 	    #999,
						// 	    #999 10px,
						// 	    #666 10px,
						// 	    #666 20px
						// 	);
						// }
					}
				}
			}
		}
		.attachments {
			.header {
				margin-top: 1rem;
			}
		}
	}

	//COMBOS
	.preview {
		.phase-2 {
			.piece {
				margin-top: -10%;
			}
		}
		.phase-3 {
			.piece {
				margin-top: -10%;
			}
		}
		&.js--pendants, &.js--earrings {	
			&.js-double-sphere {
				.phase-2 {
					.piece {
						margin-left: 2.5%;
					}
				}
				&.js-single-sphere {
					.phase-3 {
						.piece {
							margin-top: -11%;
						}
					}
				}
				&.js-single-oval {
					.phase-3 {
						.piece {
							margin-left: -2%;
						}
					}
				}
			}
			&.js-single-sphere {
				.phase-2 {
					.piece {
						margin-left: 3.5%;
					}
				}
			}
			&.js-single-cabochon {
				.phase-3 {
					.piece {
						margin-left: -3%;
					}
				}
			}
			&.js-double-oval {
				.phase-2 {
					.piece {
						margin-left: 0;
					}
				}
				&.js-single-oval {
					.phase-3 {
						.piece {
							margin-left: 0%;
						}
					}
				}
				&.js-single-sphere {
					.phase-3 {
						.piece {
							margin-left: 0.75%;
						}
					}
				}
			}
			&.js-double-cabochon {
				.phase-2 {
					.piece {
						margin-left: 0;
					}		
				}
					
			}

		}
		&.js--earrings {
			.phase-2, .phase-3, .phase-4 {
				.piece {
					transform: translateX(36.5%);
				}
			}
			&.js-double-sphere {
				.phase-2 {
					.piece {
						margin-left: 4.5%;
					}
				}
				&.js-single-sphere {
					.phase-3 {
						.piece {
							margin-left: 1.25%;
						}
					}
				}
				&.js-single-oval {
					.phase-3 {
						.piece {
							margin-left: 0%;
						}
					}
				}
			}
		}
		&.js--chains {
			&.js-double-coin, .js-double-sphere {
				.phase-1 {
					position: relative;
					z-index: 2;
				}
				.phase-2 {
					position: relative;
					z-index: 1;
					.piece {
						transform: rotate(90deg);
						margin-top: 3%;
						margin-left: -4%;
					}
				}
				.phase-3 {
					position: relative;
					z-index: 2;
					.piece {
						margin-top: 3%;
						margin-left: -4%;
					}
				}
				.phase-4 {
					position: relative;
					z-index: 3;
					.piece {
						margin-top: -11%;
						margin-left: -4%;
					}
				}
			}
			&.js-double-sphere {
				.phase-1 {
					position: relative;
					z-index: 2;
				}
				.phase-2 {
					position: relative;
					z-index: 1;
					.piece {
						transform: rotate(0deg);
						margin-top: 3%;
						margin-left: -4%;
					}
				}
				.phase-3 {
					position: relative;
					z-index: 2;
					.piece {
						margin-top: 3%;
						margin-left: -1%;
					}
				}
				.phase-4 {
					position: relative;
					z-index: 3;
					.piece {
						margin-top: -11%;
						margin-left: -4%;
					}
				}
			}
			&.js-chain-override {
				&.sphere-sphere {
					.phase-1 {
						position: relative;
						z-index: 2;
					}
					.phase-2 {
						position: relative;
						z-index: 1;
						.piece {
							transform: rotate(0deg);
							margin-top: -11%;
							margin-left: 0%;
						}
					}
					.phase-3 {
						position: relative;
						z-index: 2;
						.piece {
							margin-top: -12%;
							margin-left: -1%;
						}
					}
					.phase-4 {
						position: relative;
						z-index: 3;
						.piece {
							margin-top: -11%;
							margin-left: -4%;
						}
					}
				}
				&.cabochon-sphere {
					.phase-1 {
						position: relative;
						z-index: 2;
					}
					.phase-2 {
						position: relative;
						z-index: 1;
						.piece {
							transform: rotate(0deg);
							margin-top: -11%;
							margin-left: -3%;
						}
					}
					.phase-3 {
						position: relative;
						z-index: 2;
						.piece {
							margin-top: -12.5%;
							margin-left: -1%;
						}
					}
					.phase-4 {
						position: relative;
						z-index: 3;
						.piece {
							margin-top: -11%;
							margin-left: -4.5%;
						}
					}
				}
				&.oval-oval {
					.phase-1 {
						position: relative;
						z-index: 2;
					}
					.phase-2 {
						position: relative;
						z-index: 1;
						.piece {
							transform: rotate(0deg);
							margin-top: -11%;
							margin-left: 0%;
						}
					}
					.phase-3 {
						position: relative;
						z-index: 2;
						.piece {
							margin-top: -10.5%;
							margin-left: -4%;
						}
					}
					.phase-4 {
						position: relative;
						z-index: 3;
						.piece {
							margin-top: -11%;
							margin-left: -4%;
						}
					}
				}
				&.oval-sphere {
					.phase-1 {
						position: relative;
						z-index: 2;
					}
					.phase-2 {
						position: relative;
						z-index: 1;
						.piece {
							transform: rotate(0deg);
							margin-top: -10%;
							margin-left: -1%;
						}
					}
					.phase-3 {
						position: relative;
						z-index: 2;
						.piece {
							margin-top: -11%;
							margin-left: 0%;
						}
					}
					.phase-4 {
						position: relative;
						z-index: 3;
						.piece {
							margin-top: -11%;
							margin-left: -4.5%;
						}
					}
				}
				&.cabochon-cabochon {
					.phase-1 {
						position: relative;
						z-index: 2;
					}
					.phase-2 {
						position: relative;
						z-index: 1;
						.piece {
							transform: rotate(0deg);
							margin-top: -11%;
							margin-left: -3%;
						}
					}
					.phase-3 {
						position: relative;
						z-index: 2;
						.piece {
							margin-top: -12.5%;
							margin-left: -3%;
						}
					}
					.phase-4 {
						position: relative;
						z-index: 3;
						.piece {
							margin-top: -11%;
							margin-left: -4.5%;
						}
					}
				}
				&.cabochon-oval {
					.phase-1 {
						position: relative;
						z-index: 2;
					}
					.phase-2 {
						position: relative;
						z-index: 1;
						.piece {
							transform: rotate(0deg);
							margin-top: -11%;
							margin-left: -3%;
						}
					}
					.phase-3 {
						position: relative;
						z-index: 2;
						.piece {
							margin-top: -12.5%;
							margin-left: -4%;
						}
					}
					.phase-4 {
						position: relative;
						z-index: 3;
						.piece {
							margin-top: -11%;
							margin-left: -4.5%;
						}
					}
				}
			}
			&.js-incomplete {
				.phase {
					.piece {
						// margin: 0 !important;
						margin: 1rem !important;
					}
				}
				.phase-2 {
					.piece {
						margin: 1.5rem !important;
					}
				}
			}
		}
	}

}

.configurator-modal {
	.content {
		position: relative;
		.modal-close {
			font-size: 1rem;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
		}
		.configurator {
			position: absolute;
			z-index: 2;
			.preview {
				.phase {
					label {
						display: none !important;
					}
				}
				.summary {
					display: none;
				}
				.buttons {
					display: none;
				}
			}
		}
		.js-lp-earrings-bg, .js-lp-bracelets-bg, .js-lp-necklaces-bg {
			display: none;
			&.js-active {
				display: block;
				position: relative;
				z-index: 1;
			}
		}
	}
}

@include breakpoint(max-width, 960px) {
	section.configurator {
		.selections {
			.tops, .attachments {
				.thumbnails {
					.thumbnail {
						width: 23%;
						margin: 1%;
					}
				}
			}
		}
	}
}

@include breakpoint(max-width, 768px) {
	section.configurator {
		.selections {
			.tops, .attachments {
				.thumbnails {
					.thumbnail {
						width: 31%;
						margin: 1%;
					}
				}
			}
		}
	}
}
 
@include breakpoint(max-width, 640px) {
	section.configurator {
		flex-direction: column;
		padding: 0 2rem;
		.preview, .selections {
			width: 100%;
		}
		.fancy-header {
			h2 {
				padding: 0 1rem;
			}
		}
		.preview {
			width: 320px;
			margin: 0 auto;
			padding: 0 1rem 1rem 1rem;
			// .summary {
			// 	position: fixed;
			// 	top: 92px;
			// 	left: 0;
			// 	width: 50%;
			// 	background-color: rgba(255,255,255,0.75);
			// 	border: 1px solid $grey;
			// }
			.buttons {
				flex-direction: row;
				justify-content: space-between;
				.reset {
					width: 30%;
					margin-bottom: 0.5rem;
					padding: 0.5rem;
				}
				.add-items {
					width: 69%;
					margin-bottom: 0.5rem;
					padding: 0.5rem;
				}
			}
			.earring-clone {
				width: 320px;
				padding: 0 1rem 1rem 1rem;
				// transform: translateX(-17%);
				margin-left: -53px;
			}
			.phase {
				width: 55%;
			}
			.summary {
				margin: 0;
				padding: 0;
				padding-bottom: 1rem;
			}
		}
		.selections {
			margin-top: 2rem;
			.tops, .attachments {
				.thumbnails {
					.thumbnail {
						width: 31%;
						margin: 1%;
					}
				}
			}
		}
	}
}