footer {
  height: 124px;
  width: 100%;
  border-top: 1px solid $light-grey;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  ul {
    width: 33.3333%;
    li {
      display: inline-block;
      margin-right: 1rem;
      color: $grey;
      &:last-child {
        margin-right: 0;
      }
      a {
        text-decoration: none;
        img {
          opacity: 0.5;
        }
        &:hover {
          text-decoration: inherit;
          img {
            opacity: 0.75;
          }
        }
      }
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:last-child {
      text-align: right;
    }
  }
}

@include breakpoint(max-width, 640px) {
  footer {
    padding: 2rem 4rem;
    height: auto;
    ul {
      li {
        display: block;
        margin-bottom: 0.5rem;
        margin-right: 0;
      }
    }
  }
}