/*
 * Author: William Chong
 * Compiler: Gulp
 */

@import "libs/normalize",
        "libs/breakpoints",
        "libs/formReset",
        "partials/variables";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.clearfix { display: inline-block; clear:none !important;}

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html,
body{
  font-family: $barlow;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:normal;
  font-size:16px;
  line-height:1;
  height:100%;
  width: 100%;
  margin: 0 auto;
  &.overlay {
    overflow: hidden;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $playfair;
  font-weight: bold;
  margin:0;
  padding: 0;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  &.body-text {
    font-size: 1rem;
  }
  a {
    font-weight: 700;
    text-decoration: none;
  }
}

img{
  max-width:100%;
  height: auto;
  align-self: center;
  flex-basis: auto;
}

.container{
  padding:0;
  margin:0 auto;
  position: relative;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

iframe {
  border: none;
}

strong {
  font-weight: 700;
}

section {
  width: 100%;
  display: block;
  position: relative;
  font-size:0;
}

select::-ms-expand {
    display: none;
}

#primary {
  margin-top: 84px;
  outline: none;
}

#main {
  &:focus {
    outline: none;
  }
}
#content {
  &:focus {
    outline: none;
  }
  .col-full {
    &:focus {
      outline: none;
    }
  }
}

a {
  color: inherit;
  transition: all 0.35s;
  &:visited {
    color: inherit;
  }
  &:hover {
    background-color: $cyan;
    text-decoration: underline;
  }
  &.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: inherit;
    background-color: $black;
    border-radius: 6px;
    text-transform: uppercase;
    color: $white;
    font-size: 1rem;
    padding: 0.5rem 3rem;
    cursor: pointer;
    // border: 2px solid $black;
    &:hover {
      background-color: $cyan;
      color: $grey;
    }
    &.inverse {
      border: 1px solid $white;
    }
    &.bigger {
      border-width: 2px;
      font-size: 1.5rem;
    }
    &.transparent {
      background-color: transparent;
      &:hover {
        color: $black;
        background-color: $cyan;
      }
    }
    &.blue {
      background-color: $cyan;
      // font-weight: 700;
      color: $black;
    }
    &.add {
      border-radius: 0;
      width: 100%;
      text-transform: none;
    }
  }
  &.no-highlight {
    &:hover {
      background-color: inherit;
    }
  }
  &.no-visual {
    text-decoration: none;
    &:hover {
      background-color: inherit;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.entry-content {
    max-width: 960px;
    padding: 1rem;
    margin: 0 auto;
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    ul, ol {
      li {
        font-size: 1rem;
      }
    }
}

.text-align-center {
  text-align: center;
}

#secondary.widget-area {
  // display: none;
}

.woocommerce-cart-tab-container {
  display: none;
}

.storefront-handheld-footer-bar {
  display: none;
}

body.woocommerce-cart .woocommerce-message a {
    display: none;
}

.woocommerce-message {
  background-color: $cyan !important;
  color: $black !important;
}

.tippy-tooltip.novon-theme {
  /* Your styling here. Example: */
  background-color: rgba(0,0,0, 0.8);
  border-radius: 0;
}

.onsale {
  color: $grey !important;
  border-color: $grey !important;
  position: absolute;
  z-index: 1000;
  border-radius: 0 !important;
  background-color: $cyan;
}

@include breakpoint(max-width, 640px) {
  #primary {
    margin-top: 64px;
    outline: none;
  }

}

@import "partials/header",
        "partials/homepage",
        "partials/shop",
        "partials/shopLoop",
        "partials/alacarte",
        "partials/product",
        "partials/cart",
        "partials/blog",
        "partials/category",
        "partials/readyMade",
        "partials/miniseries",
        "partials/lookbook",
        "partials/configurator",
        "partials/miniconfigurator",
        "partials/contact",
        "partials/locations",
        "partials/about",
        "partials/footer";
  
