.fancy-header {
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	h2 {
		width: auto;
		display: inline-block;
		padding: 0 3.5rem;
		background-color: $white;
		letter-spacing: 1px;
		text-align: center;
		z-index: 1001;
		&:before {
			z-index: -1;
			content: '';
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: $cyan;
			top: 54%;
			transform: translateY(-50%);
			left: 0;
		}
	}	
}

.novon-wrap.miniconfigurator-wrap {
	max-width: 960px;
	margin: 0 auto;
	padding-top: 1rem;
}

section.miniconfigurator {
	max-width: 960px;
	margin: 0 auto;
	padding-bottom: 3rem;
	display: none;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	&.js-active {
		display: flex;
	}
	&:focus {
	  outline: none;
	}
	img {
		display: none;
		&[src] {
			display: block;
		}
	}
	
	.helper-copy {
		width: 100%;
		margin-bottom: 3rem;
		p {
			text-align: center;
			line-height: 1.5;
			
		}
		@include breakpoint(max-width, 480px) {
			margin-bottom: 1rem;
			p {
				strong {
					display: block;
				}
			}
		}
	}
	.preview {
		width: 460px;
		// border: 1px solid $black;
		font-size: 1.2rem;
		padding: 0 3rem 3rem 3rem;
		position: relative;
		overflow: hidden;
		.phase {
			position: relative;
			display: block;
			// flex-direction: column;
			// align-items: center;
			// justify-content: center;
			color: $grey;
			// margin-top: 2rem;
			opacity: 0.5;
			width: 65%;
			text-align: center;
			margin: 0 auto;
			.instructions {
				margin-top: 3rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				img {
					width: 64px;
					margin: 1rem;
				}
				strong {
					text-transform: uppercase;
					font-size: 1rem;
				}
				p {
					text-transform: uppercase;
					font-size: 1rem;
				}
				&.js-hidden {
					display: none;
				}
			}
			a {
				text-decoration: none;
			}
			label {
				opacity: 0;
				top: 50%;
				left: 50%;
				position: absolute;
				transform: translate(-50%,-50%);
				border: 1px solid $grey;
				padding: 0.25rem;
				background-color: rgba(255,255,255, 0.75);
				font-size: 0.75rem;
				text-transform: uppercase;
				z-index: 5000;
				transition: all 0.5s;
				cursor: pointer;
				&.js-active {
					opacity: 1;
				}
			}
			&.phase-1 {
				margin-top: 26%;
				.instructions {
					// margin-top: 3rem;
				}
				label {
					top: 65%;
				}
			}
			&.phase-2 {
				.instructions {
					margin-bottom: 3rem;
				}
				label {
					top: 45%;
				}
			}
			&.js-hidden {
				display: none;
			}
			&.js-active {
				opacity: 1;
				// margin-top: 0;
				img {
					// cursor: pointer;
				}
			}
			.piece {
				width: 75%;
			}
			img {
				display: inline-block;
				&[src=""] {
					display: none !important;
				}
			}
		}
		.secondpiece-clone {
			pointer-events: none;
			position: absolute;
			// transform: translateX(-15%);
			margin-left: -67px;
			padding: 0 3rem 3rem 3rem;
			width: 460px;
			top: 0;
			left: 0;
			display: none;
			&.js-active {
				display: block;
			}
			.phase {
				&.phase-1 {
					opacity: 0;
				}
				.piece {
					transform: none !important;
				}
			}
		}
		.summary {
			margin-top: 1rem;
			padding: 1rem;
			strong {
				font-weight: 700;
				text-align: center;
				display: block;
				margin-bottom: 1rem;
				font-size: 1rem;
			}
			ul {
				li {
					font-size: 1rem;
					text-align: center;
					margin-bottom: 0.5rem;
				}
			}
		}
		.buttons {
			width: 100%;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.reset {
				width: 25%;
				border-radius: 0;
				border: 1px solid $grey;
				background-color: $white;
				color: $grey;
				&:hover {
					background-color: $grey;
					color: $white;
				}
			}
			.add-items {
				width: 70%;
				border-radius: 0;
			}
			.liveview {
				display: none;
			}
			&.js-active {
				flex-wrap: wrap;
				.reset {
					order: 2;
					width: 25%;
					margin-bottom: 0.5rem;
					padding: 0.5rem;
				}
				.add-items {
					order: 1;
					width: 100%;
					margin-bottom: 0.5rem;
					padding: 0.5rem;
				}
				.liveview {
					order: 3;
					display: inline-block;
					width: calc(75% - 0.5rem);
					margin-bottom: 0.5rem;
					border-radius: 0;
					border: 1px solid $grey;
					// font-weight: 700;
					background-color: $cyan;
					color: $black;
					&:hover {
						background-color: $grey;
						color: $white;
					}
					&.disabled {
						// pointer-events: none;
						position: relative;
						background-color: $white;
						font-weight: 400;
						color: $grey;
						&:after {
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							opacity: 0.25;
							top: 0;
							left: 0;
							background: repeating-linear-gradient(
							    -45deg,
							    #999,
							    #999 10px,
							    #666 10px,
							    #666 20px
							);
						}
					}
				}
			}
		}
		.mini-configurator-bg {
			margin-top: -50%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			display: none;
			&.js-active {
				display: block;
			}
		}
	}
	.selections, .second-selections {
		width: calc(100% - 470px);
		font-size: 1rem;
		display: flex;
		flex-direction: column;
		.tops, .attachments {
			.header {
				width: 100%;
				padding: 1rem;
				text-align: center;
				background-color: $light-grey;
				color: $white;
				text-transform: uppercase;
				font-size: 1.2rem;
				font-family: $playfair;
				margin-bottom: 1rem;
				position: relative;
				cursor: pointer;
				transition: all 0.5s;
				&:after {
					content: '';
					background: url('../images/triangle.svg') no-repeat;
					background-size: cover;
					width: 12px;
					height: 12px;
					position: absolute;
					right: 1rem;
					top: 50%;
					transform: translateY(-50%) rotate(180deg);
				}
				&.js-active {
					background-color: $grey;
					&:after {
						transform: translateY(-50%) rotate(0deg);
					}
				}
			}
			.thumbnails {
				display: none;
				flex-direction: row;
				flex-wrap: wrap;
				// justify-content: space-between;
				&.js-active {
					display: flex;
				}
				&:after {
				  content: "";
				  flex: auto;
				}
				.thumbnail {
					width: 18%;
					margin: 1%;
					border: 3px solid $light-grey;
					cursor: pointer;
					position: relative;
					overflow:hidden;
					.mobile-only {
						display: none;
					}
					.image {
						width: 100%;
						padding-bottom: 100%;
						position: relative;
						img {
							position: absolute;
							height: auto;
							max-width: none;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							width: 140%;
							&.chains {
								width: 100%;
							}
							&.earrings {
								width: 165%;
								left: 54%;
								top: 58%;
							}
							&.pendants {
								width: 182%;
								top: 60%;
							}
							&.coin.single {
								left: 54%;
							}
							&.oval.double {
								left: 51%;
								top: 46%;
							}
							&.coin.double {
								left: 54%;
								top: 50%;
								width: 120%;
							}
							&.cabochon.double {
								top: 56%;
							}
						}
					}
					&:hover {
						border: 3px solid $grey;
					}
					&.js-active {
						border: 3px solid $cyan;
					}
					&.js-disabled {
						display: none;
						pointer-events: none;
						// &:after {
						// 	content: '';
						// 	position: absolute;
						// 	width: 100%;
						// 	height: 100%;
						// 	opacity: 0.5;
						// 	top: 0;
						// 	left: 0;
						// 	background: repeating-linear-gradient(
						// 	    -45deg,
						// 	    #999,
						// 	    #999 10px,
						// 	    #666 10px,
						// 	    #666 20px
						// 	);
						// }
					}
				}
			}
		}
		.attachments {
			.header {
				margin-top: 1rem;
			}
		}
		button {
			max-width: 240px;
			width: 100%;
			margin: 1rem auto;
			padding: 0.75rem;
			font-size: 1rem;
			background-color: $black;
			color: $white;
			font-family: $barlow;
			transition: 0.33s all;
			&:hover {
				color: $black;
				background-color: $cyan;
			}
		}
	}
	.second-selections {
		display: none;
		&.js-active {
			display: block;
    		margin-left: 470px;
		}
	}

	//COMBOS
	.preview {
		.phase-2 {
			.piece {
				margin-top: -14%;
			}
		}
		&.twopieces {
			.firstpiece {
				transform: rotate(10deg) translate(-5%, 0);
			}
			.secondpiece {
				position: absolute;
				margin-top: -56%;
				width: calc(100% - 6rem);
				left: 50%;
				transform: rotate(-10deg) translate(-47%, 0);
			}
			&.js-fs--coins {
				.secondpiece {
					margin-top: -63.5%;
				}
			}
		}
	}
	.configurator-modal {
		.content {
			.miniconfigurator {
				position: absolute;
				display: block;
				transform: scale(0.5) translate(0,10%);
				.preview {
					.summary, .buttons {
						display: none;
					}
					.mini-configurator-bg.js-active {
						margin-top: 0;
					}
					.phase-1 {
						margin-top: 40%;
					}
					.phase {
						label {
							display: none;
						}
					}
					&.twopieces {
						.secondpiece {
							margin-top: -66.5%;
							transform: rotate(-10deg) translate(-49%, 0);
						}
						&.js-fs--coins {
							.secondpiece {
								margin-top: -74.5%;
							}
						}
					}
				}	
			}
		}
	}

}

@include breakpoint(max-width, 960px) {
	section.miniconfigurator {
		.selections {
			.tops, .attachments {
				.thumbnails {
					.thumbnail {
						width: 23%;
						margin: 1%;
					}
				}
			}
		}
	}
}

@include breakpoint(max-width, 768px) {
	section.miniconfigurator {
		.selections {
			.tops, .attachments {
				.thumbnails {
					.thumbnail {
						width: 31%;
						margin: 1%;
					}
				}
			}
		}
	}
}
 
@include breakpoint(max-width, 640px) {
	section.miniconfigurator {
		flex-direction: column;
		padding: 0 2rem;
		.preview, .selections {
			width: 100%;
		}
		.fancy-header {
			h2 {
				padding: 0 1rem;
			}
		}
		.preview {
			margin: 0 auto;
			width: 100%;
			padding: 0 0.5rem 1rem 0.5rem;
			// .summary {
			// 	position: fixed;
			// 	top: 92px;
			// 	left: 0;
			// 	width: 50%;
			// 	background-color: rgba(255,255,255,0.75);
			// 	border: 1px solid $grey;
			// }
			.mini-configurator-bg {
				width: 92.5%;
				@include breakpoint(max-width, 320px) {
					width: 91%;
				}
			}
			.buttons {
				flex-direction: row;
				justify-content: space-between;
				.reset {
					width: 30%;
					margin-bottom: 0.5rem;
					padding: 0.5rem;
				}
				.add-items {
					width: 69%;
					margin-bottom: 0.5rem;
					padding: 0.5rem;
				}
			}
			&.twopieces {
				.secondpiece {
					width: 100%;
					padding: 0 0.5rem 1rem 0.5rem;
					margin-top: -63.25%;
					// transform: translateX(-17%);
					// margin-left: -14.75%;
				}
				&.js-fs--coins {
					.secondpiece {
						margin-top: -71%;
					}
				}
			}
			.phase {
				width: 55%;
			}
			.summary {
				margin: 0;
				margin-top: 50px;
				padding: 0;
				padding-bottom: 1rem;
			}
		}
		.selections {
			margin-top: 2rem;
			.tops, .attachments {
				.thumbnails {
					.thumbnail {
						width: 31%;
						margin: 1%;
						padding-bottom: 60px;
						.mobile-only {
							position: absolute;
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 12px;
							line-height: 1.3;
							bottom: 0;
							padding: 0.5rem 0.25rem;
							text-align: center;
							background-color: $light-grey;
							height: 60px;
						}
					}
				}
			}
		}
		.second-selections {
			&.js-active {
				width: 100%;
				margin: 0 auto;
				margin-top: 2rem;
			}
			.tops, .attachments {
				.thumbnails {
					.thumbnail {
						width: 31%;
						margin: 1%;
						padding-bottom: 60px;
						.mobile-only {
							position: absolute;
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 12px;
							line-height: 1.3;
							bottom: 0;
							padding: 0.5rem 0.25rem;
							text-align: center;
							background-color: $light-grey;
							height: 60px;
						}
					}
				}
			}
		}
	}
}